.main {
  margin-bottom: 16em;
  h1 {
    padding: 1rem;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  h1::first-letter {
    color: $background;
    text-shadow: 2px 2px 0 $text, -2px 2px 0 $text, -2px -2px 0 $text,
      2px -2px 0 $text;
    font-size: 8rem;
  }
}
.line {
  border-top: 0.15em solid rgba($primary, 0.66);
  color: transparent;
  margin-bottom: 4em;
}
